@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

.header {
    display: flex;
    gap: 100px;
    margin: 40px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 40px;
    margin-top: 10px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    text-align: center;
    color: #1F1534;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: -60px;
}

.main img {
    width: 593px;
    height: 498px;
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main-home h1 {
    width: 427px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.main-home p {
    width: 445px;
    height: 112px;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #7D7987;
}

.main-home button {
    width: 200px;
    height: 56px;
    background-color: #458FF6;
    color: white;
    border: none;
    border-radius: 55px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.services h1 {
    width: 212px;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.services p {
    width: 952px;
    height: 60px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.rectangle {
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: black;
}

.align-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.background-img {
    background-image: url(/src/img/elements-services.png);
    background-repeat: no-repeat;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    border-radius: 20px;
}

.cards h1 {
    width: 200px;
    height: 56px;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.cards p {
    width: 266px;
    height: 84px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
}

.cards-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-button button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}

.cards-button :hover {
    width: 200px;
    height: 60px;
    background-color: #d3e6ff;
    transition: 1s;
    border-radius: 50px;
}

.leading {
    display: flex;
    justify-content: center;
    margin-top: 220px;
    gap: 37px;
}

.leading h1 {
    width: 481px;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.leading p {
    width: 450px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
}

.leading button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}

.leading button:hover {
    width: 200px;
    height: 60px;
    background-color: #d3e6ff;
    transition: 1s;
    border-radius: 50px;
}

.element {
    display: flex;
    width: 100%;
    justify-content: end;
}

.download {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 37px;
}

.download-info {
    display: flex;
    flex-direction: column;
}

.download h1 {
    width: 254px;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.download p {
    width: 420px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
}

.download button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}

.download button:hover {
    width: 200px;
    height: 60px;
    background-color: #d3e6ff;
    transition: 1s;
    border-radius: 50px;
}

.quadrado {
    position: absolute;
    margin-top: 470px;
    margin-left: 320px;
}

.quadrado-2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 1400px;
}

.feedback-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    width: 1120px;
    height: 425px;
    border-radius: 24px;
}

.feedback h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.feedback p {
    width: 420px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.rectangle-white {
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
}

.feedback-section {
    display: flex;
    padding-top: 50px;
    margin-left: 20px;
    gap: 20px;
}

.feedback-section img {
    width: 141px;
    height: 141px;
}

.align-feedback {
    display: flex;
    gap: 0px;
    justify-content: center;
    flex-direction: column;
}

.align-feedback h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.align-feedback p {
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #FFFFFFD9;
    margin-top: -30px;
}

.arrows {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.arrows button {
    background-color: transparent;
    border: none;
}

.check-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.check-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-image: url(/src/img/elements-services.png);
    background-repeat: no-repeat;
}

.check-cards p {
    width: 266px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
}

.check-cards h1 {
    width: 251px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.check-cards button {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #4089ED;
    border: none;
    background-color: transparent;
}

.card-1 {
    width: 350px;
    height: 512px;
    background-color: #E5E9F666;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    border-radius: 20px;
}

.check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.check-button button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}

.check-button :hover {
    width: 200px;
    height: 60px;
    background-color: #d3e6ff;
    transition: 1s;
    border-radius: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    width: 100%;
    height: 432px;
    margin-top: 200px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info p {
    width: 391px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
}

.footer-info img {
    width: 150px;
    margin-left: -10px;
}

.footer-p p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.column h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #FFFFFF;
}

.column a {
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 820px) {

    .header {
        align-items: center;
        justify-content: center;
    }

    nav {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
      
    }
    
    .main img {
        width: 350px;
        height: auto;
    }
    
    .main-home h1 {
        width: 327px;
        font-size: 38px;
    }
    
    .main-home p {
        width: 345px;
        height: 112px;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        color: #7D7987;
    }

    main img {

    }

    .services h1 {
        font-size: 26px;
    }
    
    .services p {
        width: 352px;
        font-size: 14px;
    }

    .align-cards {
        flex-direction: column;
        gap: 40px;
    }

    .cards-button {
        margin-top: 30px;
    }

    .leading {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 37px;
    }

    .leading img {
        width: 350px;
        height: auto;
    }
    
    .leading h1 {
        width: 327px;
        font-size: 26px;
    }
    
    .leading p {
        width: 282px;
        font-size: 14px;
    }

    .element {
        display: none;
    }
    
    .download h1 {
        width: 254px;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        text-align: left;
    }
    
    .download p {
        width: 420px;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        color: #7D7987;
    }

    #img {
        width: 350px;
        height: auto;
    }

    .download {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .download h1 {
        width: 327px;
        font-size: 26px;
    }
    
    .download p {
        width: 282px;
        font-size: 14px;

    }
}
